examples/send_message_subflow.json
[
    {
        "id": "f7f34a0fbba6409d",
        "type": "subflow",
        "name": "Send message",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "090399aff5479949"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 410,
                "y": 540,
                "wires": [
                    {
                        "id": "1afee35f8b39aeae",
                        "port": 0
                    }
                ]
            },
            {
                "x": 400,
                "y": 440,
                "wires": [
                    {
                        "id": "b03019b9ac2774bd",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "Error",
            "Ok"
        ]
    },
    {
        "id": "b03019b9ac2774bd",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "done",
        "func": "\"use strict\";\n\nif (!msg.match || !msg.match.startsWith('ENTER COMMAND')) {\n  node.error(\"Expected ENTER COMMAND\", msg);\n  return [{ sessionId: msg.sessionId }, null];\n}\n\nflow.set(msg.sessionId, undefined);\n\nreturn [null, { sessionId: msg.sessionId }];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 420,
        "wires": [
            [
                "4b0c0af1ad7ff1f2"
            ],
            []
        ]
    },
    {
        "id": "1f73bfe9965d5eba",
        "type": "send",
        "z": "f7f34a0fbba6409d",
        "name": "",
        "timeout": "",
        "waitFor": "",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "f297ea382d23401a"
            ],
            [
                "b03019b9ac2774bd"
            ]
        ]
    },
    {
        "id": "55133ce425ecb905",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "message",
        "func": "\"use strict\";\n\nif (!msg.match || !msg.match.startsWith('ENTER MESSAGE')) {\n  node.error(\"Expected ENTER MESSAGE\", msg);\n  return [{ sessionId: msg.sessionId }, null];\n}\n\nconst p = flow.get(msg.sessionId);\n\nconst payload = p.message.split(/\\r\\n|\\r|\\n/);\npayload.push('/ex');\n\nreturn [null, {\n  sessionId: msg.sessionId,\n  payload,\n  waitFor: \"^ENTER COMMAND\",\n  timeout: 30000,\n}];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "5535e8c84873b0cf"
            ],
            [
                "1f73bfe9965d5eba"
            ]
        ]
    },
    {
        "id": "3b57302d2e4b02e0",
        "type": "send",
        "z": "f7f34a0fbba6409d",
        "name": "",
        "timeout": "",
        "waitFor": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "5f4f636755d763be"
            ],
            [
                "55133ce425ecb905"
            ]
        ]
    },
    {
        "id": "373827068969f974",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "subject",
        "func": "\"use strict\";\n\nif (!msg.match || !msg.match.startsWith('SUBJECT')) {\n  node.error(\"Expected SUBJECT\", msg);\n  return [{ sessionId: msg.sessionId }, null];\n}\n\nconst p = flow.get(msg.sessionId);\n\nreturn [null, {\n  sessionId: msg.sessionId,\n  payload: p.subject,\n  waitFor: \"^ENTER MESSAGE\",\n  timeout: 30000,\n}];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 220,
        "wires": [
            [
                "c64ee163811b7b1c"
            ],
            [
                "3b57302d2e4b02e0"
            ]
        ]
    },
    {
        "id": "5cf73512bec967fe",
        "type": "send",
        "z": "f7f34a0fbba6409d",
        "name": "",
        "timeout": "",
        "waitFor": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "1821e4baa068a563"
            ],
            [
                "373827068969f974"
            ]
        ]
    },
    {
        "id": "090399aff5479949",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "ST",
        "func": "\"use strict\";\n\nconst required = [\"sessionId\", \"to\", \"subject\", \"message\"];\n\nfor (let i = 0; i < required.length; i++) {\n  const p = required[i];\n  \n  if (!msg.hasOwnProperty(p) || msg[p].length === 0) {\n    const errorCode = 'PAYLOAD_INVALID';\n    const errorText = p + \" not found\";\n\n    node.error(`[${errorCode}] ${errorText}`);\n\n    return [{\n      sessionId: msg.sessionId,\n      status: 'error',\n      errorCode,\n      errorText,\n      msg,\n    }, null];\n  }\n}\n\nflow.set(msg.sessionId, {\n    to:      msg.to,\n    subject: msg.subject,\n    message: msg.message\n});\n\nreturn [null, {\n  sessionId: msg.sessionId,\n  payload: \"ST \" + msg.to,\n  waitFor: \"^SUBJECT\",\n  timeout: 30000,\n}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "f711de2a83d0482b"
            ],
            [
                "5cf73512bec967fe"
            ]
        ]
    },
    {
        "id": "1afee35f8b39aeae",
        "type": "link in",
        "z": "f7f34a0fbba6409d",
        "name": "error",
        "links": [
            "f711de2a83d0482b",
            "c64ee163811b7b1c",
            "5535e8c84873b0cf",
            "4b0c0af1ad7ff1f2",
            "81e3e712c3900aa4",
            "1292b88c4fa4bb3b",
            "87ab14e10118b86d"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4b0c0af1ad7ff1f2",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 375,
        "y": 400,
        "wires": []
    },
    {
        "id": "f711de2a83d0482b",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 375,
        "y": 80,
        "wires": []
    },
    {
        "id": "c64ee163811b7b1c",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 36",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 375,
        "y": 200,
        "wires": []
    },
    {
        "id": "5535e8c84873b0cf",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 375,
        "y": 300,
        "wires": []
    },
    {
        "id": "87ab14e10118b86d",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 41",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 885,
        "y": 300,
        "wires": []
    },
    {
        "id": "1292b88c4fa4bb3b",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 40",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 895,
        "y": 200,
        "wires": []
    },
    {
        "id": "81e3e712c3900aa4",
        "type": "link out",
        "z": "f7f34a0fbba6409d",
        "name": "link out 39",
        "mode": "link",
        "links": [
            "1afee35f8b39aeae"
        ],
        "x": 895,
        "y": 100,
        "wires": []
    },
    {
        "id": "1821e4baa068a563",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "check error",
        "func": "\"use strict\";\n\nif (msg.status === 'error') {\n    node.error(`[${msg.errorCode}] ${msg.errorText}`, msg);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 100,
        "wires": [
            [
                "81e3e712c3900aa4"
            ]
        ]
    },
    {
        "id": "5f4f636755d763be",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "check error",
        "func": "\"use strict\";\n\nif (msg.status === 'error') {\n    node.error(`[${msg.errorCode}] ${msg.errorText}`, msg);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "1292b88c4fa4bb3b"
            ]
        ]
    },
    {
        "id": "f297ea382d23401a",
        "type": "function",
        "z": "f7f34a0fbba6409d",
        "name": "check error",
        "func": "\"use strict\";\n\nif (msg.status === 'error') {\n    node.error(`[${msg.errorCode}] ${msg.errorText}`, msg);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 300,
        "wires": [
            [
                "87ab14e10118b86d"
            ]
        ]
    }
]